################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
/sw_gapi_task/out/build/x64-Debug
/out
/build
CMakeSettings.json
